.container {
    width: 100%;
    margin-bottom: 30px;
    font-size: 1.2rem;
}

.container article h1 {
    margin-bottom: 15px;
    font-size: 2.5rem;
}

.container article span {
    color: gray;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.description {
    padding: 10px 12px;
    margin: 20px 0;
    background-color: #F6F6F6;
    color: #555;
}

.return_to_blog {
    font-size: 1.2rem;
    margin-top: 30px;
}

.return_to_blog a {
    color: black;
}

.hidden {
    display: none;
}

@media (max-width: 55rem) {
    .container {
        padding: 0 18px;
    }
}
